<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <button><a href="/worker/profile/edit">Edit Profile</a></button>
    <div>
        <h1>Assigned Tasks</h1>
        <% tasks.forEach((task)=>{ %>
            <% if(task.status==="pending"){ %>
                <li>Name - <%= task.name %>   Deadline - <%= task.deadline.toLocaleString() %> Maximum Points - <%= task.maximum_points %> <a href="/task/<%= task._id %>/submit">Submit Solution</a></li>
            <% } %>    
        <% }) %>
    </div>
    <div>
        <h1>Submission History</h1>
        <% tasks.forEach((task)=>{ %>
            <% if(task.status==="approved" || task.status==="rejected"){ %>
                <li>Name - <%= task.name %></li>
            <% } %>
        <% }) %>
    </div>
</body>

</html>