<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/task/view_task.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <h3><a href="/worker/dashboard">Task- Dashboard</a></h3>
        <div>
            <li><a href="/logout">Logout</a></li>
        </div>
    </nav>
    <form>
        <div style="width: 100%; margin-left: 50px;">
            <h4>Task Name - <%= task.name %>
            </h4>
            <h4>Task Description - <%= task.description %>
            </h4>
            <h4>Maximum Points - <%= task.maximum_points %>
            </h4>
            <h4>Solution</h4>
            <textarea style="width: 90%; height: 100px;" readonly><%= task.solution.text %></textarea>
            <% if(file){ %>
                <h4>Attached File - </h4>
                <a style="color: black;" href="/file/<%= file.file_name %>/view"><%= file.original_file_name %></a>
            <% } %>
        </div>
    </form>
</body>
</html>