<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <button><a href="/task/add">Add-Task</a></button>
    </div>
    <div>
        Unassigned Tasks
        <% tasks.forEach((task)=>{ %>
            <% if(task.status==="pending"){ %>
                <p><%= task.name %></p>
                <a href="/task/<%= task._id %>/edit">Edit</a>
                <a href="/task/<%= task._id %>/assign">Assign</a>
            <% } %>
        <% }) %>
    </div>
    <div>
        Assigned Tasks
        <% tasks.forEach((task)=>{ %>
            <% if(task.status==="assigned"){ %>
                <p><%= task.name %></p>
                <a href="/task/<%= task._id %>/view">View</a>
            <% } %>
        <% }) %>
    </div>
    <div>
        Completed Tasks
        <% tasks.forEach((task)=>{ %>
            <% if(task.status==="done"){ %>
                <p><%= task.name %></p>
                <a href="#">View Solution</a>
            <% } %>
        <% }) %>
    </div>
</body>

</html>