<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/manager/dashboard.css">
    <title>Document</title>
</head>

<body>
    <nav>
        <h3><a href="">Task- Dashboard</a></h3>
        <div>
            <li><a href="/task/add">Add-Task</a></li>
            <li><a href="/logout">Logout</a></li>
        </div>
    </nav>
    <div class="task-classification-div">
        <div class="task-div" style="border-right:1px solid black ;">
            <h3>Unassigned Tasks</h3>
            <div class="filter-div">
                <input type="date" id="pending-date-input">
                <button id="pending-search-btn">Search</button>
            </div>
            <div class="pagination-div"><button id="pending-decrement-button">Previous</button><button id="pending-increment-button">Next</button></div>
            <!-- <% tasks.forEach((task)=>{ %>
                <% if(task.status==="pending"){ %>
                <div class="single-task-div">
                    <h3><%= task.name %></h3>
                    <li><a href="/task/<%= task._id %>/edit">Edit</a></li>
                    <li><a href="/task/<%= task._id %>/assign">Assign</a></li>
                </div>
                <% } %>
            <% }) %> -->
        </div>
        
        <div class="task-div">
            <h3>Assigned Tasks</h3>
            <div class="filter-div">
                <input type="date" id="assigned-date-input">
                <button id="assigned-search-btn">Search</button>
            </div>
            <!-- <% tasks.forEach((task)=>{ %>
                <% if(task.status==="assigned" || task.status==="submitted"){ %>
                    <div class="single-task-div">
                        <h3><%= task.name %></h3>
                        <li><a href="/task/<%= task._id %>/submission">Review</a></li>
                    </div>
                <% } %>
            <% }) %> -->
        </div>
        <div class="task-div" style="border-left:1px solid black ;">
            <h3>Reviewed Tasks</h3>
            <div class="filter-div">
                <input type="date" id="reviewed-date-input">
                <button id="reviewed-search-btn">Search</button>
            </div>
            <!-- <% tasks.forEach((task)=>{ %>
                <div class="single-task-div">
                    <% if(task.status==="approved" || task.status==="rejected"){ %>
                        <h3><%= task.name %></h3>
                        <li><a href="/task/<%= task._id %>/submission">View Solution</a></li>
                    <% } %>
                </div>
            <% }) %> -->
        </div>
    </div>
</body>
<script src="/manager/dashboard.js"></script>
<script>
   
</script>
</html>